body,
html {
  border: 0;
  font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

article,
aside,
audio,
canvas,
caption,
details,
div,
figure,
footer,
header,
hgroup,
iframe,
img,
mark,
menu,
nav,
object,
section,
span,
summary,
table,
tbody,
td,
tfoot,
thead,
tr,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

a,
abbr,
address,
b,
blockquote,
cit,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
ins,
label,
legend,
li,
ol,
p,
pre,
q,
samp,
small,
strong,
sub,
sup,
ul {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
nav,
section,
video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table caption,
table td,
table th {
  text-align: left;
  vertical-align: middle;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

@font-face {
  font-family: iconsfont;
  src: url(../fonts/iconsfont.eot);
  src: url(../fonts/iconsfont.eot) format('embedded-opentype'),url(../fonts/iconsfont.ttf) format('truetype'),url(../fonts/iconsfont.woff) format('woff'),url(../fonts/iconsfont.svg) format('svg');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open sans",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 19.2px;
  line-height: 24px;
  border-top: 4px;
}

p {
  font-family: Georgia,Times,serif;
}

a {
  color: #c1a008;
  text-decoration: none;
  transition: color .1s linear;
}

a:hover {
  color: #a98b07;
}

strong {
  font-weight: 700;
}

h1 {
  color: #333;
  font-size: 24.96px;
  line-height: 30px;
}

h1:before {
  font-family: iconsfont;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e004   ';
  font-size: 19.2px;
}

h2 {
  font-size: 21.12px;
  line-height: 48px;
}

hr {
  color: #333;
  height: 0;
  border: 0;
  border-top: 2px;
  margin: 12px;
}

body>header {
  z-index: 1;
  position: fixed;
  background: #fff;
  top: 4px;
  left: 0;
  height: 100%;
  width: 240px;
  transition: .3s;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  border-right: 1px solid #eee;
}

.main-logo {
  display: block;
}

.main-container {
  max-width: 704px;
  margin-left: 272px;
  display: inline-block;
  vertical-align: top;
  transition: .3s;
}

.main-logo {
  background: #fff;
  text-align: center;
}

.main-logo img {
  height: 192px;
}

.main-nav {
  background: #fff;
  margin-bottom: 24px;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  list-style-type: none;
  width: 100%;
}

.main-nav a {
  display: block;
  line-height: 48px;
  width: 100%;
  padding-left: .5em;
  text-decoration: none;
  color: #444;
  transition: all .1s;
}

.main-nav a:focus,
.main-nav a:hover {
  color: #f2c80a;
  padding-left: .7em;
}

.main-nav a.selected {
  color: #fff;
  background: #f2c80a;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.menu-button {
  display: none;
  cursor: pointer;
  padding: 8px;
  margin: -16px;
  background: #f2c80a;
  color: #fff;
  transition: all .1s;
  -webkit-tap-highlight-color: transparent;
}

.menu-button:hover {
  color: #fff;
  padding-left: 19.2px;
}

.main-container {
  background: #fff;
  padding: 24px;
}

.main-text h1,
.main-text ol,
.main-text p,
.main-text ul {
  margin: 0px;
}

.main-text ol,
.main-text ul {
  padding: 0 0 0 .7em;
}

.main-articles__article {
  padding: 24px;
  border-bottom: 2px;
}

.main-articles__article:last-child {
  border-bottom: 0;
}

.main-members__member {
  clear: left;
  padding: 24px;
  border-bottom: 2px;
}

.main-members__member:last-child {
  border-bottom: 0;
}

.main-members__member p {
  min-height: 48px;
  padding-left: 128px;
}

.main-members__member img {
  float: left;
  height: 96px;
  width: 96px;
  margin: 0px;
}

.main-members__member .main-members__github:after {
  font-family: iconsfont;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '  \e004';
  font-size: 15.36px;
}

.main-members__member>.link,
.main-members__member>.pict {
  float: left;
}

.main-members__member>.link {
  margin-left: 30px;
  width: 80%;
}

.main-members__member>.clr {
  clear: both;
}

.main-footer {
  background-color: #747471;
  border-top: 1px solid #676764;
  padding: 0px;
}

.main-footer__body {
  text-align: right;
  list-style-type: none;
}

.main-footer__twitter {
  display: inline-block;
}

.main-footer__twitter a:before {
  font-family: iconsfont;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e008';
  font-size: 24.96px;
  line-height: 48px;
}

.main-footer__twitter a {
  font: 0/0 a;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px 0 #5a5a58;
}

.main-footer__github {
  display: inline-block;
}

.main-footer__github a:before {
  font-family: iconsfont;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e001';
  font-size: 24.96px;
  line-height: 48px;
}

.main-footer__github a {
  font: 0/0 a;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px 0 #5a5a58;
}

.main-footer__gg-group {
  display: inline-block;
}

.main-footer__gg-group a:before {
  font-family: iconsfont;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e006';
  font-size: 24.96px;
  line-height: 48px;
}

.main-footer__gg-group a {
  font: 0/0 a;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px 0 #5a5a58;
}